<div class="container">
  <h3>Triple
    <a [routerLink]="['/triples']" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
  </h3>

  <dl class="list">
    <tr>
    <dt>Subject</dt>
    <td>{{ triple.subj }}</td>
    </tr>
    <tr>
    <dt>Predicate</dt>
    <td>{{ triple.pred }}</td>
    </tr>
    <tr>
    <dt>Object</dt>
    <td>{{ triple.obj }}</td>
    </tr>
    <tr>
    <dt>Create Date</dt>
    <td>{{ triple.createdAt | date:'short' }}</td>
    </tr>
    <tr>
    <dt>Update Date</dt>
    <td>{{ triple.updatedAt | date:'short' }}</td>
    </tr>
  </dl>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/triple-edit', triple._id]" button class="btn btn-success">Edit</a>
      <!--button class="btn btn-danger" type="button" (click)="deleteTriple(triple._id)">Delete</button-->
    </div>
  </div>
</div>
